:root {
    --primary-color: #170312; /* Deep purple */
    --secondary-color: #F7F3E3; /* Light cream */
    --accent-color: #214E34; /* Dark green */
    --text-light: #F7F3E3;
  }
  
  body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'Arial', sans-serif;
  }
  
  header {
    background-color: var(--primary-color);
  }
  
  footer {
    background-color: var(--primary-color);
  }
  
  h1, h2, h5 {
    color: var(--accent-color);
  }
  
  .card {
    border: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  
  .btn-primary {
    background-color: var(--accent-color);
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #1a3f29;
  }
  